# Ignore dataset folder
datasets/
model/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/
.venv/

# Ignore VS Code settings
.vscode/

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/
